.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.admin-card {
    padding: 0.5em;
}

.read-the-docs {
    color: #888;
}

.admin-category-button {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    border: 2px solid transparent;
    padding: 0.5em 1em;
    border-radius: 4.5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.admin-category-button:hover {
    border-color: #535bf2;
}
.admin-category-button.selected {
    background-color: #646cff;
    color: #fff;
    border-color: #535bf2;
}
